button.subscribe {
    background-color: #b60402;
    color: white;
    border: 1px solid #b60402;
    border-radius: 1px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

button.join {
    color: #1d498d;
    border: 1px solid #1d498d;
    border-radius: 1px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

button.tweet {
    background-color: #1e8ad8;
    color: white;
    border: 1px solid #1e8ad8;
    border-radius: 25px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

button.req {
    color: white;
    background-color: black;
    border: black 1px solid;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
}

button.signup {
    color: white;
    background-color: #54a257;
    border: 1px solid #54a257;
    border-radius: 3px;
    padding: 9px;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    margin-right: 10px;
}

button.cart {
    background-color: #f9da4e;
    border: 1px solid #f9da4e;
    border-radius: 20px;
    padding: 5px;
    padding-left: 45px;
    padding-right: 45px;
}

button.start {
    color: white;
    background-color: #7353ad;
    border: 1px solid #7353ad;
}

button.dl {
    color: #80858d;
    background-color: white;
    border: 1px solid #80858d;

}

button.apply {
    color: white;
    background-color: #2d65bc;
    border: 1px solid #2d65bc;
    margin-right: 10px;
}

button.save {
    color: #3166b7;
    background-color: white;
    border: 1px solid #3166b7;
}

.button-square {
    border-radius: 2px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.button-round {
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}